*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.video-window{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
video{
    width: 100%;
    height: 100%;
}