* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.video-window {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

video {
    width: 100%;
    height: 100%;
}

.record-actions {
    width: 6rem;
    height: 12rem;
    /* background-color: red; */
    position: absolute;
    top: calc((100vh - 12rem)/2);
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.record-actions>* {
    width: 100%;
    height: 5rem;
    /* background-color: lightblue; */
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rec-area {
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;

}

.capture-area {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}

.rec-scale {
    animation-name: recarea;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes recarea {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.1);
    }
}
.cap-scale {
    animation-name: caparea;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes caparea {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
.timer{
    /* width: 2.5rem; */
    /* height: 1rem; */
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 12rem;
    left: 1rem;
}
.timer{
    display: none;
}